.message {

}

.imageAndText {

}

.imageAndText img {

}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000;
}